.alert-danger {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c3e6cb;
    border: 2px solid #d30d0d;
    color: #750f0f;
    border-radius: 5px;
    padding: 20px 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}