/* dash.css */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 20px;
}

.table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #0f6bc7;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}

.table td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    font-size: 1.1rem;
    color: #495057;
}

.table img {
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.table img:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.alert-success {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #c3e6cb;
    border: 2px solid #155724;
    color: #155724;
    border-radius: 5px;
    padding: 20px 25px;
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.btn-primary, .btn-success {
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


